footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: $colorBlack;
    padding: 1.5rem;

    p {
        color: $colorWhite;
        margin: 0 auto;
    }
}