.media-icons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    padding-bottom: 50px;
    a{
        transition: 0.3s;
    &:hover{
        transform: scale(1.1);
        filter: drop-shadow(1px 1px 20px $colorWhite);

    }
}
}

// video
.video-reciente {
    text-align: center;
}

.video {
    width: 560px;
    height: 315px;
    filter: drop-shadow(10px 10px 5px #270b05);
    transition: 0.3s;
    &:hover{
        transform: scale(0.9);
    }
}

// música
.discografia {
    background-color: $colorBlack;
    color: $colorWhite;
    text-align: center;
}

// quién es Dariana
.title-qed {
    grid-area: a;
}

.article-qed {
    grid-area: b;
    width: 70%;
    text-align: end;
    justify-self: end;
    padding-right: 1rem;
}

.img-about {
    grid-area: c;
    width: 60%;
    justify-self: start;
}

.quien-es-dari {
    display: grid;
    grid-template-areas:
        "a a"
        "b c"
        "b c";
    align-items: center;
    justify-items: center;
    p, h2{
        color: $colorBlack;
    }
}

// olam
.title-olam {
    grid-area: d;
}

.img-olam {
    grid-area: e;
    width: 80%;
    justify-self: end;
}

.article-olam {
    grid-area: f;
    width: 70%;
    text-align: start;
    justify-self: start;
    padding-left: 1rem;
}

.olam {
    display: grid;
    grid-template-areas:
        "d d"
        "e f"
        "e f";
    align-items: center;
    justify-items: center;
    padding: 1rem;
   background-color: $colorBlack;

    p, h2{
        color: $colorWhite;
    }

}

// zomoz
.title-zomoz {
    grid-area: g;
}

.img-zomoz {
    grid-area: h;
    width: 70%;
    justify-self: end;
}

.article-zomoz {
    grid-area: i;
    width: 70%;
    text-align: start;
    justify-self: start;
    padding-left: 1rem;
    color: $colorBlack;
}

.zomoz {
    display: grid;
    grid-template-areas:
        "g g"
        "h i"
        "h i";
    align-items: center;
    justify-items: center;

}