.olam-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.malo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorBlack;
    height: 200px;
    color: $colorWhite;
    font-size: 5rem;
    font-family: "Poppins Bold";
}

.escucha-olam {
    background-color: $colorBlack;
    color: $colorWhite;
    text-align: center;
    padding: 1rem 0;
}

.olam-acustico {
    text-align: center;
    margin: 1rem 0;
}