.ver-mas {
    @include button($colorWhite);
    text-align: end;
    padding: 1rem 3rem;
}

.leer-mas {
    @include button($colorBlack);
}

.saber-mas-olam {
    @include button($colorWhite);
}

.saber-mas-zomoz {
    @include button($colorBlack);
}

.button-cta {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: #31b7cf;
    transition: all 1000ms;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #39c7e0;
    background-color: rgba(41, 40, 35, 0.509);
  
  
  &:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  &:hover::before {
    width: 250%;
  }
}