* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Poppins";
    background-color: $colorWhite;
}

h1, h2 {
    font-family: "Poppins Bold";
    text-align: center;
    padding: 10px;
}

img {
    width: 100%;
}

p, a{
    font-size: 1.125rem;
}

section{
    padding: 1.5rem 0;
}